<div class="header"><b>Job Apply</b><button (click)="openDialog()" style="float:right" mat-raised-button  color="primary">Applied Jobs</button></div>
<div class="container">
  <div class="row">
    <div class="col-md-3" style="background-color: #20B2AA">
      <app-jobs-add></app-jobs-add>
    </div>
    <div class="vl col-md-1"></div>    
    <div class="col-md-6">
      <div *ngFor="let cat of category">
      <app-jobs-decrp [categoryData]="cat"></app-jobs-decrp>
    </div>
    </div>
  </div>
</div>